@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #ffffff;
    --text-color: #7F8A93;

    --slate-0: #E0E4E8; /* Very Light Slate */
    --slate-1: #B0B7BD; /* Light Slate */
    --slate-2: #7F8A93; /* Medium Slate */
    --slate-3: #505A64; /* Dark Slate */
    --slate-4: #262E34; /* Very Dark Slate */
  }

  body {
    background-color: var(--background);
    transition: background-color 0.3s ease;
  }

  button > div {
    transition: opacity 0.1s ease;
    color: var(--slate-3);
  }
}
 
@layer components {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
}

@keyframes logoFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo-fade-in {
  opacity: 0;
  animation: logoFadeIn 1s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.icon-container {
  position: relative;
  width: 24px; /* Adjust according to your icon size */
  height: 24px; /* Adjust according to your icon size */
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: scale(0);
}

.icon.active {
  opacity: 1;
  transform: scale(1);
}

.blur-effect {
  transition: filter 0.3s ease;
}

.blur-effect.blur-sm {
  filter: blur(8px);
}
